spring:
  application:
    name: User-Service

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3307/jwt_demo_db?useSSL=false&serverTimezone=UTC
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: mysql

  mail:
    host: smtp.gmail.com
    port: 587
    username: fatmaadelmo@gmail.com
    password: pyuitfflgrohtroq
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080

textbelt:
  apiKey: textbelt
